body {background: #f7f7f7;}
/* Header Styles Start */
.mainHeader {
    height: 100px;
    width: 100%;
    background: #4f4153;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    position: relative;
    align-items: center;
    padding-left: 100px;
    

}/* Search */
.mainHeader .Search {
    top: -200%;
    position: relative;
    border-radius: 5px;
/*
    -webkit-transition: all .5s;
    -o-transition:  all .5s;
    transition:  all .5s;
*/
}

.mainHeader .openSearch {
    position: absolute;
    width: 65%;
    top:0;
    right: 12%;
    height: 100px;
    display: flex;
    align-items: center;
}
.mainHeader .Search .searchlay {
    width: 85%;
    height: 25px;
    position: relative;
   
}

.mainHeader .Search .searchlay input[type="search"] {
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    padding-left: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    
}

.mainHeader .Search .butsub {
    background: none;
    outline: none;
    border: none;
    height: 30px;
    width: 40px;
    position: absolute;
    right: 0;
    top: -10%;
    z-index: 999;
    cursor: pointer;
    transition: all 0s;
}

.mainHeader .Search .butsub img,.mainHeader .Search .butclo img  {
    width: 100%;
    height: 100%;
}

.mainHeader .Search .butclo {
    position: absolute;
    left: 0;
     background: none;
    outline: none;
    border: none;
    top: -10%;
     height: 30px;
    width: 40px;
    z-index: 999;
    cursor: pointer;
    transition: all 0s;
    
}

/* Search Styles End

/* Logo Styles Start*/
.mainHeader h1 {
    background-color: white;
    height: 71px;
    border-radius: 100%;
}

/* Logo Styles End*/
/* Navigation Styles Start*/
.mainHeader nav {
    width: 50%;
    margin-left: 4%;
}

.mainHeader ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

.mainHeader ul li {
    font-family: BPGExtraSquareMtavruli;
}

.mainHeader ul .active {
    color: #F3A42C;
}

.mainHeader ul li a {
    color: white;
    text-decoration: none;
    transition: color .3s;
}

.mainHeader ul li a:hover {
    color: #F3A42C;
}

/* Navigation Styles End*/

/* Search & LogIn  Styles Start*/
.mainHeader figure {
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 5%;
    

}




.viewMore {
    
    text-decoration: none;
    border: solid 0.5px #707070;
    border-radius: 5px;
    width: 110px;
    height: 28px;
     text-align: center;
    color: #f4b04a;
    font-family: BPGExtraSquareMtavruli;
    font-size: 14px;display: block;
	transition: all .4s;
	box-sizing: border-box;
    float: left;
    line-height: 28px;
    margin-top: 2%;
   
    
}

.viewMore:hover {
	background: #F6BF6A;
	color: white;
	border: none;
	
}

/* Search & LogIn  Styles End*/
/* Header Styles End */


/* Left Side Styles Start */ 
.leftAside {
    float: left;
    width: 25%;
    display: flex;
    flex-direction: column;
    padding-left: 85px;
}



.leftAside form {
    margin-top: 70px;
}

.leftAside .sea {
    position: relative;
}
.leftAside .sea .formSearch {
    position: absolute;
    right: 3%;
    bottom: 4.5%;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
.leftAside input[type=search] {
  width: 250px;
    width: 100%;
  height: 35.6px;
  border-radius: 2.5px;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
  outline: none;
    border: none;
}

.leftAside h2 {
     opacity: 0.7;
  font-family: BPGExtraSquareMtavruli;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
    margin-bottom: 30px;
}

.leftAside .rating {
 display: flex;
    flex-direction: column;
}

.leftAside .rating label {
    margin-bottom: 20px;
    cursor:pointer;
}
.leftAside .rating input[type=checkbox] {
    margin-right: 10px;
   
}
.leftAside .rating .grey_star {
    height: 18px;
    width: 17px;
}

.leftAside .seasonsS {
     display: flex;
    flex-direction: column;
}

.leftAside .seasonsS label {
    opacity: 0.7;
    cursor:pointer;
  font-family: NotoSansTC;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
     margin-bottom: 20px;
}
/* Left Side Styles End */ 


.rightSec {
    float: left;
    margin-left: 3%;
    width: 67%;
    display: flex;
    flex-direction: column;
    
    
}


.rightSec .not_found {
  width: 100%;
    text-align: center;
    font-family: NotoSansTC;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #e2e2e2; 
    margin-top: 55px;
}

.rightSec .h2books {
    width: 99%;
     opacity: 0.7;
  font-family: BPGExtraSquareMtavruli;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  position: relative;
  margin-top: 45px;
}

.rightSec .h2books::after {
    content: "";
    height: 1px;
    width: 88%;
    background: #707070;
    position: absolute;
    bottom: 49%;
    right: 0;
}

.rightSec .forBooks {
    margin-top: 55px;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap
    
}
.rightSec .forBooks .book_rating {
    width: 239px;
    max-width: 239px;
    margin-right: 1%;
    background: #FFFFFF;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 45px;
    

}.rightSec .forBooks .book_rating:hover{
    box-shadow: 5px 5px 40px lightgrey;
}
.rightSec .forBooks .book_rating .big_fig {
    position: relative;
   width: 100%;
    height: 221.6px;
    max-height: 221.6px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.rightSec .forBooks .book_rating .big_fig .fitted {
    width: 100%;
     height: 100%;
        border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.rightSec .forBooks .book_rating .big_fig .small_fig {
    position: absolute;bottom: 3%;left: 2%;
}
.rightSec .forBooks .book_rating h2 {
 
  opacity: 0.89;
  font-family: BPGExtraSquareMtavruli;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 25px;
    padding: 0 10px;
}

.rightSec .forBooks .book_rating h5 {
    padding: 0 10px;
  opacity: 0.4;
  font-family: NotoSansTC;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;

  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.rightSec .forBooks .book_rating p {
    color: #f3a42c;
    float: right;
    padding-right: 15px;
}
/* Footer Styles Start */

/* Footer */

.mainFoot {
    width: 100%;
    height: 90px;
    background-color: #2E2635;
    float: left;
    
}
.mainFoot ul {
    width: 15%;
    float: left;
    margin-left: 25px;
    margin-top: 30px;
    list-style: none;
}
.mainFoot ul li {
    color: #FFFFFF;
    opacity: 0.5;
    font-family: NotoSansTC-Light-Alphabetic;
	font-size: 14px;

}

.mainFoot .footFigure {
    min-width: 7%;
    float: right;
    margin-right: 25px;
    margin-top: 35px;
    text-align: right;
}

/* Footer Styles End */